
@{
    ViewData["Title"] = "About";
}

<div class="container-fluid">
    <h1 class="display-4 jumbotron">About</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid float-left" src="~/images/Gothik.jpg" alt="Gothik">
            </div>
            <div class="col-sm-8">
                Name: Gothik Stillwind<br>
                Age: 32<br>
                Race: Human <br>
                Class: Wizard<br>
                Occupation: Graphic Designer<br>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-8">
                At a young age he was introduced into the world of D&D. 
                A world of magic and imagination, he learned to create and invent new realms for the enjoyment of others. 
                He began to research the unknown universe that is the world wide web for more outlets to stretch his creativity.
                This is where he discovered the secrets of graphic design and was captivated by the endless creative opportunites.
                He now makes designs for others who wish to partake in the wonder that is table-top RPG's. 
            </div>
            <div class="col-sm-4">
                <img class="img-fluid float-left" src="~/Images/nat20.gif" alt="Nat20Baby">
            </div>
        </div>
    </div>
</div>
