
@{
    ViewData["Title"] = "Products";
}
<h1 class="display-4 jumbotron">Free Resources</h1>
<h6>Please feel free to download our free resources. Premium content coming soon!</h6>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <h3>Sea Monster Tokens</h3>
    </div>
    <div class="row">
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Aboleth.png" style="max-height:200px" alt="aboleth"><br>
            Aboleth Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Chuul.png" style="max-height:200px" alt="chuul"><br>
            Chuul Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Crustacean-man.png" style="max-height:200px" alt="crustacean"><br>
            Crustacean Man Monster Token
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Eel.png" style="max-height:200px" alt="eel"><br>
            Eel Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Kraken, body.png" style="max-height:200px" alt="kraken"><br>
            Kraken Body Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Kraken, tentacle, long.png" style="max-height:200px" alt="tentaclelg"><br>
            Kraken Tentacle Large Monster Token
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Kraken, tentacle, medium.png" style="max-height:200px" alt="tentaclemed"><br>
            Kraken Tentacle Medium Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Kraken, tentacle, short.png" style="max-height:200px" alt="tentaclesm"><br>
            Kraken Tentacle small Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Sahuagin, four-arm.png" style="max-height:200px" alt="sahuaginfourarm"><br>
            Four Arm Sahuagin Monster Token
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Sahuagin, hussar.png" style="max-height:200px" alt="sahuginhussar"><br>
            Sahuagin, Hussar Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Sahuagin, large.png" style="max-height:200px" alt="sahuginlg"><br>
            Large Sahuagin Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Sahuagin.png" style="max-height: 200px" alt="sahuagin"><br>
            Sahuagin Monster Token
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Sea hag.png" style="max-height:200px" alt="Seahag"><br>
            Sea Hag Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Shark, great white, battle-scarred.png" style="max-height:200px" alt="Shark"><br>
            Scarred Great White Shark Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Shark, great white.png" style="max-height:200px" alt="Shark"><br>
            Great White Shark Monster Token
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Shark, hammerhead, battle-scarred.png" style="max-height:200px" alt="Shark"><br>
            Scarred Hammerhead Shark Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Shark, hammerhead.png" style="max-height:200px" alt="Shark"><br>
            Hammerhead Shark Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Shark-man, great white.png" style="max-height:200px" alt="Sharkman"><br>
            Shark Man Monster Token 1
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Shark-man, hammerhead.png" style="max-height:200px" alt="Sharkman"><br>
            Shark Man Monster Token 2
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Skeleton A.png" style="max-height:200px" alt="Skeleton"><br>
            Skeleton Monster Token 1
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/Skeleton B.png" style="max-height:200px" alt="skeleton"><br>
            Skeleton Monster Token 2
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <h3>Maps</h3>
    </div>
    <br />
    <div class="row align-bottom align-content-center">
        <div class="col-sm-4">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/continent.jpg" style="max-height:200px" alt="continent"><br>
            Aboleth Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/sarlona.jpg" style="max-height:200px" alt="sarlona"><br>
            Chuul Monster Token
        </div>
        <div class="col-sm-4 align-bottom align-content-center">
            <img class="img-fluid mx-auto d-block align-bottom" src="~/images/xen'drik.jpg" style="max-height:200px" alt="xendrik"><br>
            Crustacean Man Token
        </div>
    </div>
    </div>